:root {
    --backgroundColor: #f6f6f6;
    --firstColor: #A1BF5B;
    --secondColor: #c25824;
    --thirdColor: #60762E;
    --black: #000;
    --white: #fff;

    --fontBody: 'Poppins', sans-serif;
}

* {
    margin: 0;
    background-color: var(--backgroundColor);
    font-family: var(--fontBody);
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0 16px ;
}

section div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-items: center;
    grid-column: 1/5;
}
img {
    grid-column: 1/5;
}
.imageTitle {
    margin-top: 66px;
}
h2 {
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.75);
    grid-column: 1/5;
    justify-items: baseline;
}

h3 {
    color: black;
    font-size: 13px;
    font-weight: lighter;
    max-height: 112px;
    max-width: 293px;
    text-align: center;
    margin-bottom: 16px;
    grid-column: 1/5;
}
input {
    width: 295px;
    height: 51px;
    border-radius: 22px;
    font-size: 13px;
    border: none;
    background-color: var(--white);
    outline: none;
    padding-left: 30px;
    grid-column: 1/5;
    justify-items: center;
}

p {
    font-size: 14px;
    justify-self: center;
    grid-column: 1/3;
    justify-self: center;
}

.askSection p {
    justify-self: end;
}

a {
    font-size: 14px;
    color: var(--thirdColor);
    outline: none;
    text-decoration: none;
    font-weight: bold;
    grid-column: 3/4;
}

.askSection {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.growRegister {
    width: 276px;
    height: 130px;
    /*margin-bottom: 20px;*/
}

.errorInput {
    color: #cc1010;
    grid-column: 1/5;
}

.brandIcon {
    width: 290px;
    height: 270px;
    
}

.buttonSignIn {
    width: 325px;
    height: 62px;
    background-color: var(--firstColor);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    grid-column: 1/5;
}

.buttonSignInWithEmailAndPassword {
    width: 325px;
    height: 62px;
    margin-bottom: 16px;
    background-color: var(--firstColor);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    grid-column: 1/5;
}
/*.buttonSignInWithEmailAndPassword:hover {
    color: var(--black);
}*/
.authGoogleSeccion {
    grid-column: 1/5;
}
.buttonRegister {
    width: 325px;
    height: 62px;
    background-color: var(--firstColor);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    grid-column: 1/5;
}

.lineRegister {
    width: 330px;
    height: 1px;
    grid-column: 1/5;
    grid-row: 8/9;
    background-color: var(--thirdColor);
    margin: 10px 0 20px 0;
}
.lineSignIn {
    width: 330px;
    height: 1px;
    grid-column: 1/5;
    grid-row: 7/8;
    background-color: var(--thirdColor);
    margin: 10px 0 20px 0;
}

.lineOr {
    width: 30px;
    height: 20px;
    grid-column: 1/5;
    padding-left: 10px;
    grid-row: 8/9;
}
.orSignIn {
    grid-column: 1/5;
    grid-row: 7/8;
    padding: 0 10px 0 10px;
}

.buttonRegister2 {
    width: 325px;
    height: 62px;
    background-color: var(--firstColor);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 16px;
    grid-column: 1/5;
}

.buttonGoogle {
    width: 325px;
    height: 62px;
    font-size: 18px;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    grid-column: 1/5;
    background-image: url("../images/btn.png");
    background-size: cover !important;
}
.buttonGoogle:hover {
    border-color: var(--black);
}

/*Styles wall*/

.wall-div{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperBannerDiv {
    z-index: 2;
    position: fixed;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    padding-right: 26px; /*lo puse porque se veía la orilla de los post arriba*/
    padding-left: 26px; /*lo puse porque se veía la orilla de los post arriba*/
}

.growLetters {
    width: 150px;
    height: 75px;
    margin-left: 11px;
    margin-top: 10px;
}

.userIcon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;

}

.userName {
    margin-top: 20px;
    font-size: 12px;
    margin-right: -10px;
}

.makePostForm{
    width: 375px;
    height: 140px;
    gap: 16px 0px;
    margin-top: 80px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTextBox {
    height: 84px;
    margin-top: 16px;
}

.postButton {
    background: var(--firstColor);
    color: var(--white);
    border: none;
    border-radius: 10px;
    height: 28px;
    width: 89px;
    margin: 0;
    font-size: 14px;
    margin-left: 220px;
    cursor: pointer;
}

.postsSectionDiv{
    /*grid-column: 2/5;
    grid-row: 3/5;
    overflow-y: scroll;
    overflow: hidden;*/
    margin-top: 250px;
    margin-bottom: 70px;
    grid-column: 2/5;
    grid-row: 3/5;
    overflow: hidden;
    z-index: 0;
}

.publishedPost{
    background-color: var(--backgroundColor);
    width: 343px;
    height: 194px;
    border-radius: 25px;
    border-color: var(--thirdColor);
    border-style: solid;
    border-width: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.publishedPost > .userIcon {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

.publishedPost > .userName{
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
}

.publishedText{
    padding: 10px;
    width: 250px;
    height: 50px;
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: center;
    overflow-wrap: anywhere;
}

.heartButton{
    background: none;
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
    align-self: auto;
}
.heart {
    background-color: #c25824;
}

.likeIcon{
    width: 30px;
    height: 30px;
    background: none;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self:baseline;
    
}

.likeCount {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 3px;
}

.deleteButton{
    width: 24px;
    height: 27px;
    background: none;
    grid-column: 4/5;
    grid-row: 3/4;
    cursor: pointer;
    align-self: auto;
    padding: 0;
    margin-top: -1.5px;
}
.editButton{
    margin-top: 2px;
    width: 20px;
    height: 20px;
    background: none;
    grid-column: 3/4;
    grid-row: 3/4;
    cursor: pointer;
    align-self: auto;
}
.bottomBannerDiv {
    /*position: absolute;
    bottom: 40px;
    margin: 0px;
    grid-column: 1/4;
    grid-row: 4/5;*/
    width: 812px;
    height: 80px;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.bottomLine {
    width: 350px;
    height: 2px;
    background-color: var(--thirdColor);
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: end;
    margin-top: -10px;
    margin-bottom: 20px;
}

.logOut {
    width: 52.9px;
    height: 52.9px;
    grid-column: 1/4;
    grid-row: 1/3;
    align-self: center;
    cursor: pointer;
}
.modalBack{
    background-color: #60762e77;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed;
    margin: 0;
    justify-content: center;
} 
.modalBack > div{
    margin-top: 230px;
    margin-left: -5px;
    display: grid;
    grid-template-columns: 1.5px repeat(2, 170px) 1.5px;
    gap: 10px 0;
}
.editInput{
    width: 280px;
    height: 90px;
    background: var(--white);
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: center;
    padding: 5px;
}
.acceptButton{
    background: var(--firstColor);
    color: var(--white);
    border: none;
    border-radius: 10px;
    height: 28px;
    width: 89px;
    margin: 0;
    font-size: 14px;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    cursor: pointer;
}
.messageEdit {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: end;
}
.cancelButton{
    background: var(--secondColor);
    color: var(--white);
    border: none;
    border-radius: 10px;
    height: 28px;
    width: 89px;
    margin: 0;
    font-size: 14px;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    cursor: pointer;
}
.messageDelete {
    grid-column: 2/4;
    grid-row: 1/3;
    align-self: center;
    font-size: 20px;
    padding: 16px;
    text-align: center;
}
